.itemDetail {
    width: auto;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px 0px 100px;
}

.link {
    text-decoration: none;
    color: black;
}