.itemDetailContainer {
    width: auto;
    margin: 50px;
    padding: 5px;
    margin-top: 200px;
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 10px;
    color: white;
    padding-bottom: 50px;

}