.sectionCartWidget {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartButton {
    background-color: goldenrod;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cartLink {
    width: 100%;
    height: 100%;
}

.cartCounter {
    width: auto;
    height: auto;
    color: goldenrod;
    background-color: rgb(20, 20, 20);
    border-radius: 50px;
    padding: 5px;
}

.widget {
    visibility: visible;
    opacity: 1;
    transition: all .5s ease-in-out;
}
.hidden {
    visibility: hidden;
    pointer-events: none;
    cursor: none;
    opacity: 0;
}