@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

header {
    width: 100%;
    height: 80px;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}

.navItem {
    padding: 10px;
    color: white;
}

.navItem:hover {
    cursor: pointer;
    color: black;
    border-bottom: solid thistle;
}

.navLink {
    text-decoration: none;
    color: white;
}

.logo {
    color: white;
    padding-left: 15px;
    font-size: 20px;
}

.font {
    font-family: 'Acme', sans-serif;
}

.sectionCartWidget {
    background-color: white;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartButton {
    background-color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cartCounter {
    width: 20px;
    height: 20px;
    color: white;
    background-color: rgb(20, 20, 20);
}

.none {
    display: none;
}