.itemCount {
    width: 200px;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: goldenrod;
}

.numberCount {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px 0px 0px;
}

.minus {
    width: 25px;
    cursor: pointer;
}

.plus {
    width: 25px;
    cursor: pointer;
}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.addToCart {
    cursor: pointer;
}

